#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App-header {
  /*min-height: 30vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.Card {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 20px;
}

.App-main {
  /*min-height: 50vh;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
