#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  margin-bottom: 10px;
}

.App-subheader {
  margin-top: 50px;
  display: flex;
  justify-content:space-evenly;
  font-size: calc(8px + 2vmin);
}

.App-hands {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.Card {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 20px;
}

.App-main {
  /*min-height: 50vh;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
